<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127177212994-rqof2a2a9pa0l1a2dk60hk1nrv6ul92v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127177212994-rqof2a2a9pa0l1a2dk60hk1nrv6ul92v</string>
	<key>API_KEY</key>
	<string>AIzaSyBB69Ulu5SOgs-3xlR_iw6q40AGdOAkQa0</string>
	<key>GCM_SENDER_ID</key>
	<string>127177212994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getphyllo.fluttersample</string>
	<key>PROJECT_ID</key>
	<string>phylloconnect-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>phylloconnect-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127177212994:ios:24928095231841776799db</string>
</dict>
</plist>